<!DOCTYPE html>
<html>
<head>
  <!-- Add all styles to CSS sheet. Make sure to create a DIV or CLASS for unique elements -->
  <link rel="stylesheet" href="style.css">
  <title>Insert Title</title>
  <meta charset="utf-8">
</head>

<body>
  <header>
    <!-- Top of the page information -->
  </header>

  <nav> <!--Navigation Bar-->
		<ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="pages/ideal.html">Ideal Jobs</a></li>
      <li><a href="pages/industry.html">Industry Data</a></li>
      <li><a href="pages/tech.html">IT Technologies</a></li>
      <li><a href="pages/work.html">IT Work</a></li>
      <li><a href="pages/project.html">Project Idea</a></li>
      <li><a href="pages/profile.html">Team Profiles</a></li>
      <li><a href="pages/tools.html">Tools</a></li>
		</ul>
	</nav>

  <main>
    <!-- Main body of information, most of the webiste content -->
  </main>

  <footer>
    <!-- Information that remains at the bottom of the page -->
  </footer>
</body>
</html>
